[workspace]
members = ["sark-opa"]
resolver = "2"

[workspace.package]
version = "1.3.0"
edition = "2021"
rust-version = "1.75"
authors = ["James Henry"]
license = "MIT"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true
